server/.env
.env.development
.env.production
server/alembic.ini
# alembic.ini

#amplify-do-not-edit-begin
client/amplify/\#current-cloud-backend
client/amplify/.config/local-*
client/amplify/logs
client/amplify/mock-data
client/amplify/mock-api-resources
client/amplify/backend/amplify-meta.json
client/amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
client/src/amplifyconfiguration.json
client/amplifyconfiguration.dart
client/amplify-build-config.json
client/amplify-gradle-config.json
client/amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
