alembic==1.13.1
aniso8601==9.0.1
annotated-types==0.6.0
appnope==0.1.3
argcomplete==3.2.1
asttokens==2.4.1
attrs==23.2.0
backcall==0.2.0
bcrypt==4.1.2
blessed==1.20.0
blinker==1.7.0
catalogue==2.0.10
cement==3.0.8
certifi==2023.11.17
cfn-flip==1.3.0
charset-normalizer==3.3.2
click==8.1.7
confection==0.1.4
cymem==2.0.8
decorator==5.1.1
distlib==0.3.8
docutils==0.20.1
durationpy==0.6
en-core-web-sm==3.6.0
exceptiongroup==1.2.0
executing==2.0.1
Faker==22.4.0
filelock==3.13.1
Flask==3.0.1
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gevent==23.9.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
hjson==3.1.0
honcho==1.1.0
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.12.3
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
jsonify==0.5
langcodes==3.3.0
Mako==1.3.0
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
murmurhash==1.0.10
numpy==1.24.4
packaging==23.2
pandas==2.0.3
parso==0.8.3
pathspec==0.12.1
pathy==0.11.0
pexpect==4.9.0
pickleshare==0.7.5
pipenv==2023.11.15
platformdirs==4.1.0
pluggy==1.3.0
preshed==3.0.9
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
Pygments==2.17.2
pytest==7.4.4
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
s3transfer==0.10.0
semantic-version==2.10.0
six==1.16.0
smart-open==6.4.0
SQLAlchemy==2.0.25
SQLAlchemy-serializer==1.4.1
srsly==2.4.8
stack-data==0.6.3
termcolor==2.4.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tqdm==4.66.1
traitlets==5.14.1
troposphere==4.5.3
typer==0.9.0
typing_extensions==4.9.0
uvicorn==0.26.0
virtualenv==20.25.0
virtualenv-clone==0.5.7
wasabi==1.1.2
wcwidth==0.2.13
Werkzeug==3.0.1
zipp==3.17.0
